@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card-image {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 20px;
    min-width: 75px;
    min-height: 75px;
}

.hero {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.hero-container {
    padding: 100px 200px;
    display: flex;
    gap: 50px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-image {
    min-width: 800px;
    min-height: 275px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 100px;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 300px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.nav-links {
    display: flex;
    gap: 24px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 75px 150px;
}

.quote-sign {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding-right: 75px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 4px;
    width: 100px;
    padding: 8px 16px;
    text-align: center;
}

.subtext, .sign-up {
    font-size: 18px;
    color: #E5E7EB;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB
}